html, body {
  background-color: #000;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.header,
.footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: calc(100% - 15px);
  margin: 0 auto;
  font-size: 20px;
  color: hsl(120, 100%, 20%);
}
.header {
  top: 10px;
  font-weight: 900;
}
.footer {
  bottom: 10px;
}
.footer > * {
  cursor: pointer;
}
.footer > *:hover {
  color: rgba(255, 255, 255, 0.5);
}
@keyframes blink {
  0% {
    box-shadow: inset 0 0 120px 2px rgba(0 255 0 / 15%);
  }
  50% {
    box-shadow: inset 0 0 120px 2px rgba(0 255 0 / 23%);
  }
  100% {
    box-shadow: inset 0 0 120px 2px rgba(0 255 0 / 15%);
  }
}
.canvas {
  display: block;
  margin: 80px auto;
  background-color: #000;
  background-image: url("./screen-texture.svg");
  border-radius: 8px;
  animation: 20s blink infinite linear;
}