html, body {
  background-color: #111;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.header,
.footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: calc(100% - 15px);
  margin: 0 auto;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.25);
}
.header {
  top: 10px;
  font-weight: 900;
}
.footer {
  bottom: 10px;
}
.footer > * {
  cursor: pointer;
}
.footer > *:hover {
  color: rgba(255, 255, 255, 0.5);
}
.canvas {
  display: block;
  margin: 20px auto;
  background-color: #000;
  border-radius: 8px;
}