@keyframes breathe {
  0% {
    box-shadow: 0 0 15px 0 rgba(0 255 0 / 25%),
    inset 0 0 150px 2px rgba(0 255 0 / 18%);
  }
  50% {
    box-shadow: 0 0 15px 0 rgba(0 255 0 / 25%),
    inset 0 0 150px 2px rgba(0 255 0 / 22%);
  }
  100% {
    box-shadow: 0 0 15px 0 rgba(0 255 0 / 25%),
    inset 0 0 150px 2px rgba(0 255 0 / 18%);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.3;
  }
}

html, body {
  background-color: #000;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.header,
.footer {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: calc(100% - 15px);
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: hsl(120, 100%, 20%);
}
.header {
  top: 10px;
}
.footer {
  bottom: 10px;
}
.speed {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.speed:hover {
  color: hsl(120, 100%, 35%);
}
.canvas {
  display: block;
  margin: 150px auto;
  background-color: #000;
  background-image: url("./screen-texture.svg");
  background-position: -1px -1px;
  border-radius: 8px;
  outline: 1px solid #050;
  animation: 12s breathe infinite ease-in-out;
  touch-action: manipulation;
}
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
  color: hsl(120, 100%, 35%);
  background-color: black;
  border-radius: 8px;
  outline: 1px solid #050;
  padding: 15px 35px;
  z-index: 1;
}
.game-over.hidden {
  display: none;
}
.game-over__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.game-over__message {
  font-size: 16px;
  font-weight: 500;
  margin-block-end: 20px;
}
.game-over__btn {
  display: block;
  cursor: pointer;
  color: inherit;
  font-weight: 700;
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  outline: 1px solid #050;
  border-radius: 8px;
  box-shadow: 0 0 200px 0 #0f0;
  animation: blink 1.5s infinite linear;
}
